* {
	margin: 0;
	padding: 0;
	border: 0;

	box-sizing: border-box;
}

html {
	font: 1.5em/1.5 --system-ui, Helvetica, Arial, sans-serif;
	background-color: #111;
	color: #fff;
}

#grid {
	display: grid;
	width: 80vmin;
	height: 80vmin;
	margin: 5vmin auto 0;
	grid-template-rows: repeat(7, calc((80vmin / 8) - 3px)) calc(80vmin / 8);
	grid-template-columns: repeat(7, calc((80vmin / 8) - 3px)) calc(80vmin / 8);
	grid-row-gap: 3px;
	grid-column-gap: 3px;
}

#grid li {
	display: flex;
	align-items: center;
	justify-content: center;
	
	list-style: none;
	font-size: 8vmin;
	text-align: center;
	cursor: pointer;
}

#grid li.hidden {
	background-color: #fff;
}

#grid li span {
	display: block;
	width: 100%;
	height: 100%;
}
